<mat-card>
  <mat-card-header>
    <mat-card-title> Agregar Libro </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form #libroForm = "ngForm" (ngSubmit)="guardarLibro()">

    <div class="form-group">
      <mat-form-field class="half-width">
        <label> Título </label>
        <input matInput placeholder= "Ingresar Título" name="titulo" [(ngModel)]="nuevoLibro.titulo" required />
        <mat-error *ngIf="libroForm.controls['titulo']?.touched && libroForm.controls['titulo']?.hasError"> El Título es obligatorio</mat-error>
      </mat-form-field>

      <mat-form-field class="half-width">
        <label> Idioma </label>
        <input matInput placeholder= "Ingresar Idioma" name="idioma" [(ngModel)]="nuevoLibro.idioma" required />
        <mat-error *ngIf="libroForm.controls['idioma']?.touched && libroForm.controls['idioma']?.hasError"> El Idioma es obligatorio</mat-error>
      </mat-form-field>

    </div>

    <div class="form-group">

      <mat-form-field class="full-width">
        <label> Descripción </label>
        <textarea matInput placeholder= "Ingresar Descripción" name="descripcion" [(ngModel)]="nuevoLibro.descripcion" required ></textarea>
        <mat-error *ngIf="libroForm.controls['descripcion']?.touched && libroForm.controls['descripcion']?.hasError"> La descripción es obligatorio</mat-error>
      </mat-form-field>

    </div>

    <div class="form-group">

      <mat-form-field >
        <mat-label>Fecha de Lanzamiento</mat-label>
        <input matInput [matDatepicker]="picker" required name="fecha_lanzamiento" placeholder="Seleccionar Fecha de Lanzamiento" [(ngModel)]="nuevoLibro.fecha_lanza">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-error *ngIf="libroForm.controls['fecha_lanza']?.touched && libroForm.controls['fecha_lanza']?.hasError"> La fecha es obligatorio</mat-error>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    </div>


    <!--  -->

    <div class="form-group">

      <mat-form-field class="half-width">
        <label> Páginas </label>
        <input matInput placeholder= "Ingresar Páginas" name="paginas" [(ngModel)]="nuevoLibro.paginas" required />
        <mat-error *ngIf="libroForm.controls['paginas']?.touched && libroForm.controls['paginas']?.hasError"> Las paginas es obligatorio</mat-error>
      </mat-form-field>

      <mat-form-field class="half-width">
        <label> Portada </label>
        <input matInput placeholder= "Ingresar Portada" name="portada" [(ngModel)]="nuevoLibro.portada" required />
        <mat-error *ngIf="libroForm.controls['portada']?.touched && libroForm.controls['portada']?.hasError"> La portada es obligatorio es obligatorio</mat-error>
      </mat-form-field>
    </div>

    <!--  -->

    <div class="form-group">
      <mat-form-field  style="margin-top: 10px;">
        <mat-label>Autor</mat-label>
        <mat-select placeholder= "Ingresar Autor" name="autores" [(ngModel)]="nuevoLibro.autor" required>
          <mat-option *ngFor="let autor of ListAutores" [value]="autor.id_autor">{{autor.autor}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="margin-top: 10px;">
        <mat-label>Categoria</mat-label>
        <mat-select placeholder= "Ingresar Categoria" name="categorias" [(ngModel)]="nuevoLibro.categoria" required>
          <mat-option *ngFor="let categoria of ListCategorias" [value]="categoria.id_categoria">{{categoria.categoria}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="margin-top: 10px;">
        <mat-label>Editorial</mat-label>
        <mat-select placeholder= "Ingresar Editorial" name="editoriales" [(ngModel)]="nuevoLibro.editorial" required>
          <mat-option *ngFor="let editorial of ListEditoriales" [value]="editorial.id_editorial"> {{editorial.editorial}} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">

      <button mat-raised-button color="primary" [disabled]="!libroForm.valid"> Agregar Libro </button>

    </div>

    </form>

  </mat-card-content>

</mat-card>
